<!--  <div [style.backgroundImage]="'url('+app.serverURL+login.imgFon.img+')'"-->
<!--       class="u-container-style u-expanded-width u-group u-image u-shape-rectangle u-image-1" data-image-width="1280"-->
<!--       data-image-height="853">-->
<!--    <div class="u-container-layout u-container-layout-1"></div>-->
<!--  </div>-->
<!--  <div alt="" [style.backgroundImage]="'url('+app.serverURL+login.img.img+')'"-->
<!--       class="u-image u-image-circle u-image-2"></div>-->

<div
  style="width: 100%; height: 100%;min-height: 220px ; background: linear-gradient(225deg, rgb(0,85,187), rgb(0,187,238)); max-height: 400px;   -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;">
  <div style=" ">
    <div class="row" style="width: 100%; height: 100%; max-height: 400px;">
      <div class="col" style="width: 100%;max-height: 500px">
        <img class="rounded mx-auto d-block" style="max-height: 400px;min-height: 220px ;"
             [src]="app.serverURL +'static/logo/logo6.png'">
      </div>
      <div class="col" style="width: 100%;max-height: 400px; ">
        <img class="rounded mx-auto d-block"
             style="max-height: 400px;min-height: 220px ;"
             [src]="app.serverURL +'static/logo/gerb.png'">
      </div>
      <div class="col" style="width: 100%;max-height: 500px">
        <img class="rounded mx-auto d-block" style="max-height: 400px;min-height: 220px ;"
             [src]="app.serverURL +'static/logo/logo8.png'">
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="container mt-3 ">
        <h3 align="center">О профиле </h3>
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Логин     </span>
            </div>
            <label class="form-control"> {{login.username}}</label>
          </div>
        </div>
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"> ФИО</span>
            </div>
            <label class="form-control"
            > {{login.lastName}} {{login.firstName}} {{login.middleName}}</label>
          </div>

        </div>
        <div>
          <div *ngIf="app.login.id != id " class="input-group mb-3 ">
            <div class="input-group-prepend ">
              <span class="input-group-text">Почта     </span>
            </div>
            <label class="form-control"
            >{{login.email}}</label>
          </div>

          <div *ngIf="app.login.id != id "
               [ngClass]="{'input-group':true ,'mb-3':true,'alert':!login.emailConfirmed, 'alert-danger':!login.emailConfirmed }">
            <div class="input-group-prepend">
              <span class="input-group-text">Почта</span>
            </div>
            <label class="form-control"
            >{{login.email}}</label>
          </div>

        </div>
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Телефон     </span>
            </div>
            <label class="form-control"
            >{{login.telephone}}</label>
          </div>

        </div>
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Роли     </span>
            </div>
            <label class="form-control">
              <div *ngFor="let role of login.authorities">{{role.authority}} </div>
            </label>
          </div>

        </div>


        <div *ngIf="app.isAdmin || data == true">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Учетная запись просрочена </span>
            </div>
            <label class="form-control">
              <div>{{bolConvertor(!login.accountNonExpired)}} </div>
            </label>
          </div>

        </div>
        <div *ngIf="app.isAdmin || data == true">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Учетная запись  заблокирована     </span>
            </div>
            <label class="form-control">
              <div>{{ bolConvertor(!login.accountNonLocked)}} </div>
            </label>
          </div>

        </div>
        <div *ngIf="app.isAdmin || data == true">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Учетная запись включена     </span>
            </div>
            <label class="form-control"> {{bolConvertor(login.isEnabled)}} </label>
          </div>

        </div>
        <div *ngIf="app.isAdmin || data == true">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Учетная запись истекла</span>
            </div>
            <label class="form-control">{{bolConvertor(!login.credentialsNonExpired)}}</label>
          </div>

        </div>

      </div>
    </div>

    <div class="col" *ngIf="login.id == app.login.id">
      <div class="container mt-3 ">
        <h3 align="center">Уведомления <label class="label">
          <div class="toggle">
            <input (click)="notificationsED()" class="toggle-state" type="checkbox" name="check" value="check"
                   [checked]="login.notificationsEnabled"/>
            <div class="toggle-inner">
              <div class="indicator"></div>
            </div>
            <div class="active-bg"></div>
          </div>
        </label>
        </h3>
        <div class="alert " [ngClass]="{'alert-secondary':mass(item,'MASSAGES'),'alert-primary':mass(item,'TASK')}"
             role="alert" *ngFor="let item of login.notifications">
          <a (click)="close(item.id)"
             class="cliseX">x</a>
          <div class="row">

            <div *ngIf="mass(item,'TASK')">
              {{item.taskId.creator.lastName}} {{item.taskId.creator.firstName}} {{item.taskId.creator.middleName}}
            </div>
            <div *ngIf="mass(item,'MASSAGES')">
              {{item.massages.user.lastName}} {{item.massages.user.firstName}} {{item.massages.user.middleName}}

            </div>
            <div style="text-align: right" class="col">
              {{item.data}}
            </div>
          </div>
          <p></p>
          <div *ngIf="mass(item,'TASK')">
            Создано для вас задание. Название "{{item.taskId.name}}"
          </div>
          <div *ngIf="mass(item,'MASSAGES')">
            Для вас сообщение в задаче: "{{item.taskId.name}}"
            <p>{{item.text}}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
